html {
  scroll-behavior: smooth;
}
body {
  height: 2000px;
}
#home {
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#navbar a:hover {
  color: #fef3c7;
}
#home::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 33%;
  bottom: 0%;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}
